
div.sections {
    width: 80%;
    margin: 0px auto;
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    cursor: pointer;
}

div.sections div.section {
    width: 30%;
    height: 167px;
    border-radius: 10px;
    border: 1.5px solid lightgray;
}

.toggle-switch {
  width: 40px;     
  height: 20px;    
  background-color: #ccc;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.toggle-switch .switch {
  width: 16px;      
  height: 16px;    
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  transition: left 0.3s ease;
}

.toggle-switch .switch.on {
  left: 22px;     
}

.toggle-switch.on {
  background-color: #4cd137;
}

div.sections div.section div.top {
    display: flex;
    background-color: #EDF5FF;
    border-bottom: 1.5px solid lightgray;
    justify-content: space-between;
    padding: 15px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

div.sections div.section div.top div.toggle {
    display: flex;
    justify-content: space-between;
    width: 40%;
}

div.sections div.section div.top div.toggle span.small {
    font-size: 14px;
}

div.sections div.section input {
    padding-left: 15px;
    font-size: 20px;
    margin-top: 20px;
    border: none;
    outline: none;
    background-color: transparent;
}

div.sections div.drop {
    width: 30%;
    height: 167px;
    border-radius: 10px;
    border: 2px dashed lightgray;
    margin-bottom: 30px;
    background-color: #AABDD926;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
}

div.sections div.drop span {
    font-family: Public Sans;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #1C1F23;
}